<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Dream Trip</title>
    <link rel="icon" type="image/png" href="/src/assets/image/fanmicon.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">

<body>

    <header>
        <h1>Lista de Países</h1>
    </header>
    <div class="staticlist">
        <section class="country-list-page">
            <ul class="static-country-list">
                <li><a href="/src/components/marketing-components/africa-do-sul/index.html">África do Sul</a></li>
                <li><a href="/src/components/marketing-components/argentina/index.html">Argentina</a></li>
                <li><a href="/src/components/marketing-components/australia/index.html">Austrália</a></li>
                <li><a href="/src/components/marketing-components/canada/index.html">Canadá</a></li>
                <li><a href="/src/components/marketing-components/chile/index.html">Chile</a></li>
                <li><a href="/src/components/marketing-components/china/index.html">China</a></li>
                <li><a href="/src/components/marketing-components/coreia/index.html">Coreia do Sul</a></li>
                <li><a href="/src/components/marketing-components/egito/index.html">Egito</a></li>
                <li><a href="/src/components/marketing-components/espanha/index.html">Espanha</a></li>
                <li><a href="/src/components/marketing-components/eua/index.html">Estados Unidos (EUA)</a></li>
                <li><a href="/src/components/marketing-components/frança/index.html">França</a></li>
                <li><a href="/src/components/marketing-components/grécia/index.html">Grécia</a></li>
                <li><a href="/src/components/marketing-components/indonésia/index.html">Indonésia</a></li>
                <li><a href="/src/components/marketing-components/inglaterra/index.html">Inglaterra</a></li>
                <li><a href="/src/components/marketing-components/italia/index.html">Itália</a></li>
                <li><a href="/src/components/marketing-components/japao/index.html">Japão</a></li>
                <li><a href="/src/components/marketing-components/marrocos/index.html">Marrocos</a></li>
                <li><a href="/src/components/marketing-components/mexico/index.html">México</a></li>
                <li><a href="/src/components/marketing-components/peru/index.html">Peru</a></li>
                <li><a href="/src/components/marketing-components/portugal/index.html">Portugal</a></li>
                <li><a href="/src/components/marketing-components/tailandia/index.html">Tailândia</a></li>
                <li><a href="/src/components/marketing-components/turquia/index.html">Turquia</a></li>
            </ul>

        </section>
    </div>

    <nav>
        <div class="menu-icon" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="dropdown-menu">
            <a href="/index.html">Início</a>

            <a href="/src/components/marketing-components/countries/countries.html" class="countries-text">
                Países
                <span class="arrow" onclick="toggleCountries(event)">▼</span>
            </a>
            <div class="country-list">
                <a href="/src/components/marketing-components/africa-do-sul/index.html">1. África do Sul</a>
                <a href="/src/components/marketing-components/argentina/index.html">2. Argentina</a>
                <a href="/src/components/marketing-components/australia/index.html">3. Austrália</a>
                <a href="/src/components/marketing-components/canada/index.html">4. Canadá</a>
                <a href="/src/components/marketing-components/chile/index.html">5. Chile</a>
                <a href="/src/components/marketing-components/china/index.html">6. China</a>
                <a href="/src/components/marketing-components/coreia/index.html">7. Coreia do Sul</a>
                <a href="/src/components/marketing-components/egito/index.html">8. Egito</a>
                <a href="/src/components/marketing-components/espanha/index.html">9. Espanha</a>
                <a href="/src/components/marketing-components/eua/index.html">10. Estados Unidos (EUA)</a>
                <a href="/src/components/marketing-components/frança/index.html">11. França</a>
                <a href="/src/components/marketing-components/grécia/index.html">12. Grécia</a>
                <a href="/src/components/marketing-components/indonésia/index.html">13. Indonésia</a>
                <a href="/src/components/marketing-components/inglaterra/index.html">14. Inglaterra</a>
                <a href="/src/components/marketing-components/italia/index.html">15. Itália</a>
                <a href="/src/components/marketing-components/japao/index.html">16. Japão</a>
                <a href="/src/components/marketing-components/marrocos/index.html">17. Marrocos</a>
                <a href="/src/components/marketing-components/mexico/index.html">18. México</a>
                <a href="/src/components/marketing-components/peru/index.html">19. Peru</a>
                <a href="/src/components/marketing-components/portugal/index.html">20. Portugal</a>
                <a href="/src/components/marketing-components/tailandia/index.html">21. Tailândia</a>
                <a href="/src/components/marketing-components/turquia/index.html">22. Turquia</a>
            </div>
        </div>
    </nav>
    <script>
        function toggleMenu() {
            document.querySelector('.menu-icon').classList.toggle('active');
            document.querySelector('.dropdown-menu').classList.toggle('active');
        }

        function toggleCountries(event) {
            event.preventDefault();
            event.stopPropagation();
            document.querySelector('.country-list').classList.toggle('active');
            document.querySelector('.arrow').classList.toggle('rotated');
        }
    </script>

</body>

</html>
</body>

</html>