<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Dream Trip</title>
    <link rel="icon" type="image/png" href="/src/assets/image/fanmicon.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/style/global.css">
</head>

<body>

    <header>
        <h1>África do Sul</h1>
        <img src="../../../assets/image/africa.jpg" alt="Bandeira da África do Sul">
    </header>

    <section class="about">
        <h5 class="init">A África do Sul é um país vibrante e diverso, conhecido por sua rica herança cultural e
            paisagens
            impressionantes. Aqui estão alguns aspectos importantes:</h5>
            <br>
        <h3 class="title-content">Pontos Turísticos</h3>
        <h5>Parque Nacional Kruger</h5>
        <p>Um dos maiores e mais famosos parques de safári do continente africano, ideal para observar a vida selvagem,
            incluindo os "Big Five" (leão, leopardo, elefante, búfalo e rinoceronte).
        </p>
        <h5>Cape Town e a Montanha da Mesa</h5>
        <p>Cape Town é uma cidade costeira deslumbrante com a Montanha da Mesa oferecendo vistas panorâmicas
            inesquecíveis. A cidade também é conhecida pela região vinícola de Stellenbosch.
        </p>
        <h5>Cidade do Cabo e Robben Island</h5>
        <p>Robben Island é famosa por ter sido o local onde Nelson Mandela foi preso por muitos anos. A cidade também é
            um centro cultural e tem belíssimas praias.
        </p>
        <h5>Garden Route</h5>
        <p>Uma rota costeira que oferece paisagens impressionantes, incluindo praias, florestas e lagos.
        </p>
        <h5>Blyde River Canyon</h5>
        <p>Um dos maiores cânions do mundo, com vistas espetaculares e formações rochosas impressionantes.
        </p>
<br>
        <h3 class="title-content">Comidas Típicas</h3>
        <h5>Braai</h5>
        <p>Uma forma de churrasco ao ar livre que é uma tradição sul-africana. Normalmente inclui carnes como boerewors
            (linguiça), steak e costelas.
        </p>
        <h5>Bobotie</h5>
        <p>Um prato à base de carne moída temperada com especiarias, coberta com uma mistura de ovos e leite, e assada
            até dourar.
        </p>
        <h5>Bunny Chow</h5>
        <p>Uma refeição de rua originária de Durban, que consiste em um pão cavado e recheado com curry.
        </p>
        <h5>Potjiekos</h5>
        <p>Um ensopado cozido lentamente em uma panela de ferro fundido, geralmente com carne, vegetais e especiarias.
        </p>
        <br>
        <h3 class="title-content">Cultura</h3>
        <h5>Diversidade Étnica</h5>
        <p>A África do Sul é conhecida como a "Nação Arco-Íris" devido à sua diversidade étnica e cultural. Existem 11
            línguas oficiais, incluindo Zulu, Xhosa, Afrikaans e inglês.
        </p>
        <h5>Música e Dança</h5>
        <p>O país é famoso por seu rico patrimônio musical, que inclui estilos como o jazz sul-africano, a música
            tradicional e o gênero kwaito.
        </p>
        <h5>Arte e História</h5>
        <p>Museus como o Apartheid Museum em Joanesburgo oferecem uma visão profunda da história do país, especialmente
            a luta contra o apartheid.</p>
            <br>
            <br>
        <h5 class="final">A África do Sul é um destino fascinante que oferece uma mistura de experiências naturais,
            históricas e culturais.</h5>
    </section>

    <nav>
        <div class="menu-icon" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="dropdown-menu">
            <a href="/index.html">Início</a>

            <a href="/src/components/marketing-components/countries/countries.html" class="countries-text">
                Países
                <span class="arrow" onclick="toggleCountries(event)">▼</span>
            </a>
            <div class="country-list">
                <a href="/src/components/marketing-components/africa-do-sul/index.html">1. África do Sul</a>
                <a href="/src/components/marketing-components/argentina/index.html">2. Argentina</a>
                <a href="/src/components/marketing-components/australia/index.html">3. Austrália</a>
                <a href="/src/components/marketing-components/canada/index.html">4. Canadá</a>
                <a href="/src/components/marketing-components/chile/index.html">5. Chile</a>
                <a href="/src/components/marketing-components/china/index.html">6. China</a>
                <a href="/src/components/marketing-components/coreia/index.html">7. Coreia do Sul</a>
                <a href="/src/components/marketing-components/egito/index.html">8. Egito</a>
                <a href="/src/components/marketing-components/espanha/index.html">9. Espanha</a>
                <a href="/src/components/marketing-components/eua/index.html">10. Estados Unidos (EUA)</a>
                <a href="/src/components/marketing-components/frança/index.html">11. França</a>
                <a href="/src/components/marketing-components/grécia/index.html">12. Grécia</a>
                <a href="/src/components/marketing-components/indonésia/index.html">13. Indonésia</a>
                <a href="/src/components/marketing-components/inglaterra/index.html">14. Inglaterra</a>
                <a href="/src/components/marketing-components/italia/index.html">15. Itália</a>
                <a href="/src/components/marketing-components/japao/index.html">16. Japão</a>
                <a href="/src/components/marketing-components/marrocos/index.html">17. Marrocos</a>
                <a href="/src/components/marketing-components/mexico/index.html">18. México</a>
                <a href="/src/components/marketing-components/peru/index.html">19. Peru</a>
                <a href="/src/components/marketing-components/portugal/index.html">20. Portugal</a>
                <a href="/src/components/marketing-components/tailandia/index.html">21. Tailândia</a>
                <a href="/src/components/marketing-components/turquia/index.html">22. Turquia</a>
            </div>
        </div>
    </nav>

    <script>
        function toggleMenu() {
            document.querySelector('.menu-icon').classList.toggle('active');
            document.querySelector('.dropdown-menu').classList.toggle('active');
        }

        function toggleCountries(event) {
            event.preventDefault();
            event.stopPropagation();
            document.querySelector('.country-list').classList.toggle('active');
            document.querySelector('.arrow').classList.toggle('rotated');
        }
    </script>
</body>

</html>