<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Dream Trip</title>
    <link rel="icon" type="image/png" href="/src/assets/image/fanmicon.jpg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/style/global.css" />
  </head>

  <body>
    <header>
      <h1>Marrocos</h1>
      <img
        src="../../../assets/image/marrocos.jpg"
        alt="Bandeira do Marrocos"
      />
    </header>

    <section class="about">
      <h5 class="init">
        O Marrocos é um país rico em história, cultura e diversidade geográfica.
        Aqui está uma visão geral dos principais pontos turísticos, comidas
        típicas e aspectos culturais do Marrocos:
      </h5>
      <br />
      <h3 class="title-content">Pontos Turísticos</h3>
      <h5>Marrakech</h5>
      <p>
        Medina de Marrakech: Um labirinto de ruas estreitas e mercados
        vibrantes, conhecido por sua arquitetura tradicional e a atmosfera
        animada. Destaca-se a Praça Jemaa el-Fna, onde você encontra artistas de
        rua, músicos e vendedores.
        <br /><br />
        Palácio da Bahia: Um exemplo impressionante da arquitetura marroquina,
        com belos jardins e pátios.
        <br /><br />
        Jardim Majorelle: Um exuberante jardim botânico, projetado pelo pintor
        francês Jacques Majorelle e mais tarde restaurado por Yves Saint
        Laurent.
      </p>

      <h5>Fez</h5>
      <p>
        Medina de Fez: Um dos centros medievais mais bem preservados do mundo,
        com ruas labirínticas e mercados tradicionais. A Universidade de Al
        Quaraouiyine, uma das mais antigas do mundo, também está localizada
        aqui.
        <br /><br />
        Tanneries de Fez: As antigas curtumes, onde o couro é tingido de maneira
        tradicional, oferecendo uma visão fascinante do processo artesanal.
      </p>

      <h5>Casablanca</h5>
      <p>
        Mesquita Hassan II: Uma das maiores mesquitas do mundo, com uma minarete
        impressionante e uma localização à beira-mar, aberta aos visitantes fora
        dos horários de oração.
        <br /><br />
        Cidade Velha (Old Medina): Uma área histórica com mercados, edifícios
        tradicionais e uma atmosfera charmosa.
      </p>

      <h5>Chefchaouen</h5>
      <p>
        Cidade Azul: Famosa por suas ruas e edifícios pintados em tons de azul,
        criando um ambiente visualmente deslumbrante e relaxante. É também um
        ótimo lugar para explorar a cultura local e fazer compras de artesanato.
      </p>

      <h5>Merzouga</h5>
      <p>
        Deserto do Saara: A área ao redor de Merzouga é conhecida por suas
        impressionantes dunas de areia, como as Dunas de Erg Chebbi, onde você
        pode experimentar passeios de camelo e acampamentos no deserto.
      </p>
      <h5>Atlas</h5>
      <p>
        Montanhas do Atlas: Uma cadeia montanhosa impressionante, ideal para
        caminhadas e aventuras ao ar livre, com vilarejos tradicionais berberes
        e paisagens espetaculares.
      </p>
      <br />
      <h3 class="title-content">Comidas Típicas</h3>
      <h5>Cuscuz</h5>
      <p>
        Um prato à base de sêmola de trigo, frequentemente servido com carne,
        vegetais e um molho de especiarias. É um prato tradicional muito
        apreciado em todo o Marrocos.
      </p>

      <h5>Tagine</h5>
      <p>
        Um ensopado cozido lentamente, geralmente feito com carne (como
        cordeiro, frango ou vaca), frutas secas e especiarias, cozido em um
        recipiente de barro chamado tagine.
      </p>

      <h5>Harira</h5>
      <p>
        Uma sopa espessa e nutritiva, feita com tomate, lentilhas, grão-de-bico,
        carne e especiarias. É particularmente popular durante o mês do Ramadã.
      </p>

      <h5>Pastilla (ou Bastilla)</h5>
      <p>
        Uma torta tradicional feita com massa filo, recheada com carne de pombo
        ou frango, amêndoas e especiarias, e polvilhada com açúcar e canela.
      </p>

      <h5>Mint Tea (Chá de Menta)</h5>
      <p>
        Uma bebida nacional feita com chá verde, hortelã fresca e bastante
        açúcar, frequentemente servido como sinal de hospitalidade.
      </p>
      <h5>Zaalouk</h5>
      <p>
        Um prato de berinjela cozida com tomates, alho e especiarias, servido
        frio como aperitivo ou acompanhamento.
      </p>
      <br />
      <h3 class="title-content">Cultura</h3>
      <h5>História e Arquitetura</h5>
      <p>
        O Marrocos tem uma rica herança histórica, com influências fenícias,
        romanas, islâmicas e coloniais. As medinas de cidades como Fez e
        Marrakech são exemplos impressionantes de arquitetura tradicional.
        <br /><br />
        Arquitetura Islâmica: Inclui palácios, mesquitas e jardins com elementos
        como mosaicos coloridos, arcos e minaretes.
      </p>

      <h5>Artesanato</h5>
      <p>
        Azulejos e Mosaicos: O Marrocos é conhecido por seus azulejos
        decorativos e mosaicos, usados em muitas construções e edifícios
        históricos.
        <br /><br />
        Tapetes Berberes: Tapetes artesanais feitos por tribos berberes,
        conhecidos por seus padrões geométricos e cores vibrantes.
      </p>

      <h5>Música e Dança</h5>
      <p>
        Música Gnawa: Um estilo de música tradicional com origens africanas,
        caracterizado por ritmos hipnóticos e instrumentos como o guembri (um
        tipo de alaúde).
        <br /><br />
        Rai: Música popular originária da Argélia, também apreciada em algumas
        partes do Marrocos, com influências modernas.
      </p>

      <h5>Tradições e Festivais</h5>
      <p>
        Moussems: Festivais tradicionais que ocorrem em várias partes do país,
        celebrando santos locais, música e danças tradicionais.
        <br /><br />
        Festival de Música Sacra de Fez: Um evento anual que celebra a música
        espiritual de várias tradições.
      </p>
      <h5>Etiqueta e Hospitalidade</h5>
      <p>
        A hospitalidade é uma parte central da cultura marroquina, e é comum ser
        recebido com chá de menta e doçaria. Os marroquinos valorizam a cortesia
        e o respeito em suas interações sociais.
      </p>
      <br />
      <h5 class="final">
        O Marrocos oferece uma experiência rica e variada, com uma combinação de
        cultura vibrante, paisagens deslumbrantes e uma culinária deliciosa que
        reflete a diversidade do país.
      </h5>
    </section>

    <nav>
      <div class="menu-icon" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="dropdown-menu">
        <a href="/index.html">Início</a>

        <a
          href="/src/components/marketing-components/countries/countries.html"
          class="countries-text"
        >
          Países
          <span class="arrow" onclick="toggleCountries(event)">▼</span>
        </a>
        <div class="country-list">
          <a
            href="/src/components/marketing-components/africa-do-sul/index.html"
            >1. África do Sul</a
          >
          <a href="/src/components/marketing-components/argentina/index.html"
            >2. Argentina</a
          >
          <a href="/src/components/marketing-components/australia/index.html"
            >3. Austrália</a
          >
          <a href="/src/components/marketing-components/canada/index.html"
            >4. Canadá</a
          >
          <a href="/src/components/marketing-components/chile/index.html"
            >5. Chile</a
          >
          <a href="/src/components/marketing-components/china/index.html"
            >6. China</a
          >
          <a href="/src/components/marketing-components/coreia/index.html"
            >7. Coreia do Sul</a
          >
          <a href="/src/components/marketing-components/egito/index.html"
            >8. Egito</a
          >
          <a href="/src/components/marketing-components/espanha/index.html"
            >9. Espanha</a
          >
          <a href="/src/components/marketing-components/eua/index.html"
            >10. Estados Unidos (EUA)</a
          >
          <a href="/src/components/marketing-components/frança/index.html"
            >11. França</a
          >
          <a href="/src/components/marketing-components/grécia/index.html"
            >12. Grécia</a
          >
          <a href="/src/components/marketing-components/indonésia/index.html"
            >13. Indonésia</a
          >
          <a href="/src/components/marketing-components/inglaterra/index.html"
            >14. Inglaterra</a
          >
          <a href="/src/components/marketing-components/italia/index.html"
            >15. Itália</a
          >
          <a href="/src/components/marketing-components/japao/index.html"
            >16. Japão</a
          >
          <a href="/src/components/marketing-components/marrocos/index.html"
            >17. Marrocos</a
          >
          <a href="/src/components/marketing-components/mexico/index.html"
            >18. México</a
          >
          <a href="/src/components/marketing-components/peru/index.html"
            >19. Peru</a
          >
          <a href="/src/components/marketing-components/portugal/index.html"
            >20. Portugal</a
          >
          <a href="/src/components/marketing-components/tailandia/index.html"
            >21. Tailândia</a
          >
          <a href="/src/components/marketing-components/turquia/index.html"
            >22. Turquia</a
          >
        </div>
      </div>
    </nav>

    <script>
      function toggleMenu() {
        document.querySelector(".menu-icon").classList.toggle("active");
        document.querySelector(".dropdown-menu").classList.toggle("active");
      }

      function toggleCountries(event) {
        event.preventDefault();
        event.stopPropagation();
        document.querySelector(".country-list").classList.toggle("active");
        document.querySelector(".arrow").classList.toggle("rotated");
      }
    </script>
  </body>
</html>
