<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Dream Trip</title>
    <link rel="icon" type="image/png" href="/src/assets/image/fanmicon.jpg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/style/global.css" />
  </head>

  <body>
    <header>
      <h1>México</h1>
      <img src="../../../assets/image/mexico.jpg" alt="Bandeira do México" />
    </header>

    <section class="about">
      <h5 class="init">
        O México é um país vibrante e diversificado, conhecido por sua rica herança cultural, paisagens deslumbrantes e uma culinária deliciosa. Aqui está uma visão geral dos principais pontos turísticos, comidas típicas e aspectos culturais do México:
      </h5>
      <br />
      <h3 class="title-content">Pontos Turísticos</h3>
      <h5>Cidade do México</h5>
      <p>
        Zócalo: A grande praça central da Cidade do México, cercada por edifícios históricos como o Palácio Nacional e a Catedral Metropolitana.
<br><br>
        Templo Mayor: Ruínas de um templo asteca localizado no centro histórico da cidade, com um museu adjacente que exibe artefatos encontrados no local.
        <br><br>
        Museu Nacional de Antropologia: Um dos principais museus do México, com uma vasta coleção de artefatos das civilizações pré-colombianas, incluindo a Pedra do Sol.
        
      </p>

      <h5>Cancún e Riviera Maya</h5>
      <p>
        Ruínas de Tulum: Antiga cidade maia localizada à beira-mar, conhecida por suas impressionantes ruínas e vistas panorâmicas do Caribe.
<br><br>
        Chichén Itzá: Um dos sítios arqueológicos maias mais famosos, com a pirâmide de Kukulkán, conhecida também como El Castillo.
        <br><br>
        Cenotes: Cavernas inundadas naturais na Península de Yucatán, populares para nadar e mergulhar.
        
      </p>

      <h5>Guadalajara</h5>
      Teatro Degollado: Um elegante teatro neoclássico com uma rica programação cultural e arquitetônica.
<br><br>
      Centro Histórico: Com praças encantadoras, igrejas históricas e o mercado de San Juan de Dios, um dos maiores mercados cobertos da América Latina.
      
      </p>

      <h5>Oaxaca</h5>
      <p>
        Centro Histórico de Oaxaca: Patrimônio Mundial da UNESCO, com arquitetura colonial e mercados vibrantes.
<br><br>
        Monte Albán: Um antigo sítio arqueológico zapoteca situado nas montanhas, com vistas impressionantes e estruturas bem preservadas.
        
      </p>

      <h5>Los Cabos</h5>
      <p>
        Arco de Cabo San Lucas: Uma formação rochosa icônica no final da Península de Baja California, acessível por barco.
<br><br>
        Praias: Conhecido por suas belas praias e atividades ao ar livre, como mergulho e pesca.
        
      </p>
      <br>
      <h3 class="title-content">Comidas Típicas</h3>
      <h5>Tacos</h5>
      <p>
        Tortilhas de milho ou farinha recheadas com uma variedade de ingredientes, como carne, frango, peixe, vegetais e molhos variados.
      </p>

      <h5>Enchiladas</h5>
      <p>
        Tortilhas de milho recheadas com carne, frango ou queijo, cobertas com molho de chile e queijo.
      </p>

      <h5>Tamales</h5>
      <p>
        Massa de milho cozida e recheada com carne, chiles ou outros ingredientes, envolta em folhas de milho.
      </p>

      <h5>Mole</h5>
      <p>
        Um molho espesso e saboroso feito com chiles, especiarias e chocolate, frequentemente servido com carne de frango ou peru.
      </p>

      <h5>Guacamole</h5>
      <p>
        Uma pasta de abacate temperada com limão, cebola, coentro e pimenta, frequentemente servida com tortilhas ou chips.
      </p>
      <h5>Churros</h5>
      <p>
        Massa frita e doce, frequentemente polvilhada com açúcar e canela, e servida com chocolate quente para mergulhar.
      </p>
      <br>
      <h3 class="title-content">Cultura</h3>
      <h5>História e Arquitetura</h5>
      <p>
        O México possui uma rica herança cultural que inclui a civilização maia, asteca e zapoteca. Os sítios arqueológicos, como Chichén Itzá e Teotihuacán, são testemunhos dessa história.
      </p>

      <h5>Artes e Festivais</h5>
      <p>
        Dia dos Mortos: Uma celebração vibrante e colorida que honra os mortos, com altares decorados, oferendas e festividades.
<br><br>
        Mariachi: Música tradicional que é uma parte essencial da cultura mexicana, tocada com violinos, trompetes e guitarras.
        
      </p>

      <h5>Literatura e Cinema</h5>
      <p>
        O México tem uma rica tradição literária com autores como Octavio Paz, Carlos Fuentes e Juan Rulfo. O cinema mexicano também é notável, com diretores como Guillermo del Toro e Alfonso Cuarón ganhando reconhecimento internacional.
      </p>

      <h5>Artesanato</h5>
      <p>
        O país é conhecido por seu artesanato vibrante, incluindo cerâmica, tecidos bordados e artesanato em prata. O mercado de artesanato em cidades como Oaxaca é famoso por suas peças feitas à mão.
      </p>
      <h5>Tradições e Etiqueta</h5>
      <p>
        A hospitalidade mexicana é bem conhecida, com um forte senso de comunidade e família. As reuniões familiares e celebrações são centrais para a vida social.
      </p>
      <br>
      <h5 class="final">
        O México oferece uma experiência cultural rica e diversificada, com uma combinação de história fascinante, paisagens naturais deslumbrantes e uma culinária mundialmente famosa.
      </h5>
    </section>

    <nav>
      <div class="menu-icon" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="dropdown-menu">
        <a href="/index.html">Início</a>

        <a
          href="/src/components/marketing-components/countries/countries.html"
          class="countries-text"
        >
          Países
          <span class="arrow" onclick="toggleCountries(event)">▼</span>
        </a>
        <div class="country-list">
          <a
            href="/src/components/marketing-components/africa-do-sul/index.html"
            >1. África do Sul</a
          >
          <a href="/src/components/marketing-components/argentina/index.html"
            >2. Argentina</a
          >
          <a href="/src/components/marketing-components/australia/index.html"
            >3. Austrália</a
          >
          <a href="/src/components/marketing-components/canada/index.html"
            >4. Canadá</a
          >
          <a href="/src/components/marketing-components/chile/index.html"
            >5. Chile</a
          >
          <a href="/src/components/marketing-components/china/index.html"
            >6. China</a
          >
          <a href="/src/components/marketing-components/coreia/index.html"
            >7. Coreia do Sul</a
          >
          <a href="/src/components/marketing-components/egito/index.html"
            >8. Egito</a
          >
          <a href="/src/components/marketing-components/espanha/index.html"
            >9. Espanha</a
          >
          <a href="/src/components/marketing-components/eua/index.html"
            >10. Estados Unidos (EUA)</a
          >
          <a href="/src/components/marketing-components/frança/index.html"
            >11. França</a
          >
          <a href="/src/components/marketing-components/grécia/index.html"
            >12. Grécia</a
          >
          <a href="/src/components/marketing-components/indonésia/index.html"
            >13. Indonésia</a
          >
          <a href="/src/components/marketing-components/inglaterra/index.html"
            >14. Inglaterra</a
          >
          <a href="/src/components/marketing-components/italia/index.html"
            >15. Itália</a
          >
          <a href="/src/components/marketing-components/japao/index.html"
            >16. Japão</a
          >
          <a href="/src/components/marketing-components/marrocos/index.html"
            >17. Marrocos</a
          >
          <a href="/src/components/marketing-components/mexico/index.html"
            >18. México</a
          >
          <a href="/src/components/marketing-components/peru/index.html"
            >19. Peru</a
          >
          <a href="/src/components/marketing-components/portugal/index.html"
            >20. Portugal</a
          >
          <a href="/src/components/marketing-components/tailandia/index.html"
            >21. Tailândia</a
          >
          <a href="/src/components/marketing-components/turquia/index.html"
            >22. Turquia</a
          >
        </div>
      </div>
    </nav>

    <script>
      function toggleMenu() {
        document.querySelector(".menu-icon").classList.toggle("active");
        document.querySelector(".dropdown-menu").classList.toggle("active");
      }

      function toggleCountries(event) {
        event.preventDefault();
        event.stopPropagation();
        document.querySelector(".country-list").classList.toggle("active");
        document.querySelector(".arrow").classList.toggle("rotated");
      }
    </script>
  </body>
</html>
